<div id="productItemsDisplay">
    <ng-container *ngFor="let product of recommendations">
        <div class="item" (click)="viewProduct(product._id,product.name)">
            <img style="width:100%" src={{product.image}} class="product-image" alt="Product Image"/>
            <div class="ItemDescription">
                <h1 title={{product.name}} class="productname"> {{product.name}} </h1>
                <p class="productdescription"> {{product.description}} </p>
                <div class="productprice">
                    <div><span>R {{product.price}}<br/>Rating</span></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
