<div id="container">
  <div id="sellerHolder">
    <img style="width: 100%" [src]='user?.profileImage' alt="profile picture">
    <h1>{{user?.name}} {{user?.surname}}</h1>
  </div>
  <div id="productItemsDisplay">

    <ng-container *ngFor="let product of products">
      <div class="item1" (click)="viewProductDetails(product._id,product.name)">
        <img [src]="product.image" class="product-image" alt="Product Image"/>
        <div class="ItemDescription">
          <h1 title="${{product.name}}" class="productname"> {{product.name}} </h1>
          <p class="productdescription"> {{product.description}} </p>
          <div class="productprice">
            <div><span>Price: R {{product.price}}<br/></span></div>
            <!-- <button class="purchase-btn" data-id="{{product._id}}"></button> -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- <nav aria-label="Breadcrumb mt-10">
  <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <li>
      <div class="flex items-center">
        <a href="#" class="mr-2 text-sm font-medium text-gray-900" routerLink="">Home</a>
        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
          <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
        </svg>
      </div>
    </li>
  </ol>
</nav>
  
<div class="bg-gray-100">
  <div class="container mx-auto py-8">
      <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
          <div class="col-span-4 sm:col-span-3">
            <div class="bg-white shadow rounded-lg p-6">
                <div class="flex flex-col items-center">
                  <img [src]='user?.profileImage' alt="" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">

          
                  <h1 class="text-xl font-bold">{{user?.name}} {{user?.surname}}</h1>
                  <p class="text-gray-700">Resturant</p>
                  <div class="mt-6 flex flex-wrap gap-4 justify-center">
                    <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Call</a>
                    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">Message</a>
                  </div>
                </div>
                <hr class="my-6 border-t border-gray-300">
                <div class="flex flex-col">
                  <ul>
                    <li class="mb-2">Working hours</li>
                    <li class="mb-2">9am to 5pm</li>
                    <li class="mb-2">9am to 5pm</li>
                    <li class="mb-2">9am to 5pm</li>
                    <li class="mb-2">9am to 5pm</li>
                    <li class="mb-2">9am to 5pm</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-span-4 sm:col-span-9">
              <div class="bg-white shadow rounded-lg p-6">
                <div class="bg-white mt-4">
                  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                    <h2 class="sr-only">Products</h2>
                
                        <h1 class="text-xl font-bold">{{user?.name}} {{user?.surname}}</h1>
                        <p class="text-gray-700">{{user?.businessName}}</p>
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Call</a>
                            <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">Message</a>
                        </div>
                    </div>
                    <hr class="my-6 border-t border-gray-300">
                    <div class="flex flex-col">
                        
                        <ul>
                            <p>Description: {{user?.businessDescription}} </p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-span-4 sm:col-span-9">
                <div class="bg-white shadow rounded-lg p-6">
                  <div class="bg-white mt-4">
                    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                      <h2 class="sr-only">Products</h2>
                  
                      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                        <div *ngFor="let prod of products" class = "cursor-pointer" (click)="viewProductDetails(prod._id, prod.name)">
                          <a class="group">
                            <div class=" relative aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                              <img [src]='prod.image' alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
                              <div class>
                                <button type="submit" class=" flex w-full items-center justify-center rounded-md border border-transparent bg-cyan-600 px-4 py-1.5 text-base font-medium text-white hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2">Purchase</button>
                              </div>
                            </div>
                            <h3 class="text-sm text-gray-700">{{prod.name}}</h3>
                            <p class="text-lg m-0 font-medium text-gray-900">R {{prod.price}}</p>
                            
                          </a>
                        </div> 
                        
                      </div>
                    </div>
                  </div>
                </div> 
                  
              </div>
          </div>
      </div>
  </div>
</div> -->
