<div id="main">
    <div class="main-image" [ngClass]="{dontShow: app.deviceWidth<810}">
      <div class="warningAlert" *ngIf="productDetails.status!=false" [ngSwitch]=productDetails.stock>
          <p *ngSwitchCase=0>Out of Stock</p>
          <p *ngSwitchCase=1>Last Item Left</p>
          <p *ngSwitchCase=2>Stock Is Running Out</p>
      </div>
        <img [src]="productDetails.image" alt="">
    </div>
    <div class="mobile">
        <div class="main-image" [ngClass]="{dontShow: app.deviceWidth>809}">
            <img [src]="productDetails.image" style="width:100%" alt="">
        </div>
        <div class="splitByTwo ">
            <div class="second">
                <p (click)="viewSellerProfile(productSellerId)" class="cursor-pointer hover:text-cyan-600 hover:underline">Seller: <span>{{productDetails.seller.name}}</span></p>
            </div>
            <div class="second" *ngIf="productOptions.length!=null">
                <select  (change)="updateNumber($event)">
                    <option *ngFor="let i of productOptions" [value]="i">{{i}}</option>
                </select>
            </div>
        </div>
        <div class="splitByTwo">
            <div><h3 style="max-width: 500px">{{productDetails.name}}</h3></div>
            <div><h3>R {{productDetails.price}}</h3></div>
        </div>

        <p class="productdescription2">{{productDetails.description}}</p>

        <div>
            <button id="purchase-btn" [disabled]="buttonDisabled" *ngIf="purchasing == 'addToCart'" (click)="addItemToCart()">ADD TO CART</button>
            <button id="purchase-btn" *ngIf="purchasing == 'loading'">loading</button>
            <button id="purchase-btn" *ngIf="purchasing == 'removeFromCart'" (click)="removeItemFromCart(productDetails._id)">REMOVE FROM CART</button>
        </div>
        <div>
            <button id="purchase-btn" style="background-color: transparent;border: 2px solid black;color: black;" (click)="copyToClipBoard()">share item</button>
        </div>
        <app-recommandations *ngIf="productRecommendations.length > 0" [recommendations]="productRecommendations"></app-recommandations>
        <div>
            <button id="purchase-btn" (click)="viewReviews()">View Comments/Review</button>
        </div>
</div>
<!---div>
      <app-recommandations *ngIf="productRecommendations.length > 0" [recommendations]="productRecommendations" id='desktopRecommendations'></app-recommandations>
</div--->
